<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ns.kk.newsdxio.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity android:name="ns.kk.subscription.SubscriptionActivity"
            android:exported="false"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="ns.kk.bookmark.BookMakrActivity"
            android:exported="false"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ns.kk.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ns.kk.artilce_detail.ArtilceDeatilsActivity"
            android:exported="false"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ns.kk.newsdxio.NewsDxIoMainScreen"
            android:exported="false"
            android:label="@string/title_activity_main_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ns.kk.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name="ns.kk.splace.SplaceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>